# VPS SSH Configuration
VPS_IP=127.0.0.1
VPS_PORT=2222
SSH_KEY=/path/to/your/ssh-key.key
REMOTE_PATH=ubuntu@127.0.0.1:~/honeypot/cowrie-log/cowrie.json
LOCAL_PATH=../data/cowrie.json

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=honeypot_db
